---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';

import HomeContent from '../content/home.md';
---

<!doctype html>
<html lang="en">
	<head>
		<title>{SITE_TITLE}</title>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="pattern-dots-sm">
		<Header />
		<main>
			<h1 style="display:inline-block; white-space:nowrap; margin-left:-12px; margin-right:-12px;">Build Your Own Workshop!</h1>
			<em>Get your members and other clubs around the world shipping more projects!</em>
			<img src="/workshop-image.png" alt="Image of a workshop" />

			<h3>Ever wanted to...</h3>
				<b style="text-align:center;">Create your own ysws? Get more flexibility? Help others get creative?</b>
			<h5 style="text-align:center;"> This is your chance!</h5>
			<HomeContent />
		</main>
		<Footer />
	</body>
</html>

<style>
  /* Page-specific tweaks can go here if needed */
</style>